h1{
    text-align: center;
    color: white;
    background-color: gray;
}
p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornsilk;
}
#today{
    position: absolute;
    padding: 10px;
    width: 50%;
    left: 30%;
}
#today p {
    color: black;
    text-align: left;
}
.day{
    font-size: x-large;
}
#forcast{
    position: absolute;
    height: 350px;
    width: 70%;
    left: 30%;
    top: 400px;
}
.card {
    width: 150px;
    margin: 15px;
    background-color: rgb(0, 132, 255);
    float: left;
}
#UV-index{
    text-align: left;
}
.uvcard{
    position: absolute;
    width: 60px;
    left:100px;
    top: 195px;
}
img{
    align-self: center;
    width: 70px;
    height: 70px;
}